<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller = "detailCtrl">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">
        <div class="content text-center">
          <div class="container-fluid">
            <img ng-src="{{detail.photos[0].getUrl({'maxWidth': 400, 'maxHeight': 400})}}"/>
            <br>
            <p> <strong>Name: </strong> {{detail.name}} </p>
            <p><strong>Adress: </strong>  {{detail.formatted_address}} </p>
            <p><strong>Open: </strong>  {{detail.open}} - {{detail.close}} </p>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="wish_save" type="button" class="btn btn-default" ng-click="save()" ng-disabled="added">Add to Wishlist!</button>
      </div>
    </div>
  </div>
</div>
