<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Places in Angular</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="main.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry"></script>
</head>
<body ng-app="app" ng-controller="dashCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top navigacija">
       <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">Places in Angular</a>
       </div>
       <div>
         <ul class="nav navbar-nav pull-right">
           <li class="wish" ng-click="showWish()"><a href="">Wishlist</a></li>
         </ul>
       </div>
       </div>
    </nav>
  <div class="dashboard" >
    <div class="container">
      <form name="trazilica" novalidate
      ng-submit="trazi()" class='trazilica'>
          <div class="input-group" >
            <div class="dropdown input-group-btn" >
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span id = "text">Filter:<span class = "caret"></i></i>

              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-repeat = "filter in filters" ng-class = "{active : issel(filter)}"> <a ng-click="setmaster(filter)" href="">{{filter.name}}</a> </li>
              </ul>
            </div>
              <input name="place" type="text" class="form-control search"
              ng-model="kveri" required autofocus />

              <span class="input-group-btn">
                  <button class="btn btn-primary" ng-disabled="!selekt">Search</button>
              </span>
          </div>
      </form>

        <div id="map"></div>


    </div>
  </div>

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script type="text/javascript" src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="wish.js"></script>
  <script type="text/javascript" src="detail.js"></script>
</body>
</html>
