@media(max-width:768px)  {

    .navigacija{
      max-height: 51px;
    }
    .navbar > .container{
      max-height: 51px;
    }
    .wish{
      position: fixed !important;
      top: 5px !important;
      right: 10px !important;
    }
    .navbar-brand{
      font-size: 1em;
    }

}
body{
  margin:0 0 !important;
  min-height: 100%;
  padding-top: 70px;
}
h3 img {
    max-height: 50px;
}
.dashboard{
  margin: 1% auto;
  max-height: 100%;
}
.navigacija{

}
.navbar-brand{
  color: #fff !important;
  font-family: sans-serif;
  font-weight: 600;
}
.trazilica{
  display: flex;
  flex-direction: row;
  max-width: : 70vw;
  max-height: 50px;
}
.search{
  max-width: 90vw;
}
#map{
  margin-top: 1%;
  height: 70vh;

}
#detail{
  margin: 0 auto;
  max-height: 90vh;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
}
#filter{
  display: inline-block;
  max-width: 100px;
}
.remove{
  display: inline-block;
  float: right;
}

.list{
  list-style-type: none;
  width:100%;

}
.wish_item{
  padding: 1% 1%;
}
.wish{
  background-color: rgb(196, 12, 56) !important;
  color: #fff;
}
.wish>a{
  color:#fff !important;
  font-weight: bold;
}
