<div class="modal fade" id="wish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller = "wishCtrl">
  <div class="modal-dialog" role="document">
    <div class="container-fluid">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wishlist</h4>
      </div>
      <div class="modal-body">
        <ul class="list">
          <li ng-repeat = "wish in wishes" class="wish_item">
            <div class="row">
              <div class="col-md-6">
                <p>{{wish}}</p>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-danger text-center remove" ng-click="removeWish(wish)">Remove</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
  </div>
</div>
